@import "common.css";

/* .table {
    height: 50vh;
} */

/* Adapted From: https://chatgpt.com/share/67b10e3a-9878-8000-b2f0-ebe1f818b187 */
.table td {
    border: none;
}

.table {
    background-color: white;
}